body {
  background-image: linear-gradient(-90deg,  #99ccff, #0066ff);
  height: 100%;
  overflow-x: hidden;
}

#header {
background-image: linear-gradient(-90deg, #000080, #0000ff);
    position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 15%;
    background-color: blue;
    position: fixed;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

h1 { color: white; }

#password_reset a:link, #password_reset a:visited {
    font-size: 10px;
    color: white;
    }

#label {
    font-color: white
    }

#log_form {
background-image: linear-gradient(-90deg, #000080, #0000ff);
    position: relative;
    text-align: center;
}

.column_center {
  display: inline-block;
  padding: 20px;
  border:1px solid red;
}

.footer {
    position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	text-align: center;
}

.grid-container {
    position: absolute;
    top: 20%;
    display: grid;
    width: 97%;
    grid-column-gap: 3%;
    grid-row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;

}

.grid-item {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  width: 90%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  overflow-x: hidden;
}

#logbar {
	background-color: white;
	text-align: center;
    height: 10$;
      z-index: 1;
      background-color: white;
      overflow-x: hidden;
      padding-tp: 10px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;

}

.hotel-image {

  }

.hotel-name {
    background color: white;
    font-size 30px;
    text-align: center
    font-family: Arial, Helvetica, sans-serif;
    }