<head>
    <title>Hotel Searching App</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/./static/style.css">
</head>


<body>
<div id="header">
    <header>
        <h1>HOTELS HEREEEEEE</h1>
    </header>
    <article id = "log_form">
        <form name="login" method="POST" action="logged_in.html">
            Username:<br>
            <input type="text" name="username"><br> Password:
            <br>
            <input type="password" name="passwd"><br>
            <input type="submit" value="Login">
        </form>
        <a href="forgot.htm" class="forgot">Forgotten password?</a>
    </article>

    </section>
</div>

<div id="container">
    <ul>
        <li>GOT1</li>
        <li>ANOTHER</li>
        <li>AND ANOTHER</li>
    </ul>
    <footer>
        <small>© Copyright 2019</small>
    </footer>
</div>
</body>
