<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Searching App</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/./static/style.css">
</head>


<body>
<div id="header">
    <header>
        <h1>HOTELS HEREEEEEE</h1>
    </header>
</div>

<div id="container">
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>

<div th:replace="common-template :: footer"></div>
</body>
</html>